.weekinfo {
    font-size: 38px;
    position: absolute;
    left: 50%;
    transform:translate(-50%,-50%)
}

.dateinfo {
    display: flex;
}

.arrow {
    background-color: black;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    font-size: 40px;
    transition: background-color 0.5s; /* Smooth color transition */
}

.arrow a {
    text-decoration: none;
    color: transparent
}

#left {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

#right {
    position: absolute;
    left: 96%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.arrow:hover {
    background-color: rgb(118, 115, 113);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

table th {
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid black;
    background-color: #3d3838;
    color: white;
}



table caption {
    margin-bottom: 15px;
    color: white;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table td {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: rgb(210, 205, 205);
    transition: background-color 0.5s; /* Smooth color transition */
}

table td:hover {
    background-color: aliceblue;
}

.subject:visited {
    color: black;
}

